<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="House" value="\\engagests1\Elements\Prospect Jobs\Conversions\00-HOUSE_PROUSE\Completed\"/>
    <add key="Prouse" value="\\engagests1\Elements\Prospect Jobs\Conversions\00-HOUSE_PROUSE\Completed\"/>
    <add key="Prospecting" value="\\engagests1\Elements\Prospect Jobs\Conversions\"/>
  </appSettings>
</configuration> 